@model SkyGlobal.Models.StaffMember

@{
    ViewData["Title"] = "Create";
}

<!-- breadcrumb -->
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="w3breadcrumb-gids text-center pt-5">
                <div class="w3breadcrumb-right">
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//breadcrumb-->
<!--/services-->

<h1>Create</h1>

<h4>StaffMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffMemberName" class="control-label"></label>
                <input asp-for="StaffMemberName" class="form-control" />
                <span asp-validation-for="StaffMemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberSurname" class="control-label"></label>
                <input asp-for="StaffMemberSurname" class="form-control" />
                <span asp-validation-for="StaffMemberSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberEmail" class="control-label"></label>
                <input asp-for="StaffMemberEmail" class="form-control" />
                <span asp-validation-for="StaffMemberEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberPhone" class="control-label"></label>
                <input asp-for="StaffMemberPhone" class="form-control" />
                <span asp-validation-for="StaffMemberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberPassword" class="control-label"></label>
                <input asp-for="StaffMemberPassword" class="form-control" />
                <span asp-validation-for="StaffMemberPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberRole" class="control-label"></label>
                <select asp-for="StaffMemberRole" class="form-control" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="StaffMemberRole" class="text-danger"></span>
            </div>
         

            <div class="form-group">
                <label asp-for="StaffMemeberRate" class="control-label"></label>
                <input asp-for="StaffMemeberRate" class="form-control" />
                <span asp-validation-for="StaffMemeberRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemeberHours" class="control-label"></label>
                <input asp-for="StaffMemeberHours" class="form-control" />
                <span asp-validation-for="StaffMemeberHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
