@model SkyGlobal.Models.StaffMember

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StaffMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StaffMemberId" />
            <div class="form-group">
                <label asp-for="StaffMemberName" class="control-label"></label>
                <input asp-for="StaffMemberName" class="form-control" />
                <span asp-validation-for="StaffMemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberSurname" class="control-label"></label>
                <input asp-for="StaffMemberSurname" class="form-control" />
                <span asp-validation-for="StaffMemberSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberEmail" class="control-label"></label>
                <input asp-for="StaffMemberEmail" class="form-control" />
                <span asp-validation-for="StaffMemberEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberPhone" class="control-label"></label>
                <input asp-for="StaffMemberPhone" class="form-control" />
                <span asp-validation-for="StaffMemberPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberPassword" class="control-label"></label>
                <input asp-for="StaffMemberPassword" class="form-control" />
                <span asp-validation-for="StaffMemberPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemberRole" class="control-label"></label>
                <input asp-for="StaffMemberRole" class="form-control" />
                <span asp-validation-for="StaffMemberRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemeberRate" class="control-label"></label>
                <input asp-for="StaffMemeberRate" class="form-control" />
                <span asp-validation-for="StaffMemeberRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StaffMemeberHours" class="control-label"></label>
                <input asp-for="StaffMemeberHours" class="form-control" />
                <span asp-validation-for="StaffMemeberHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
